# XML - Gás Ventilado

## Bibliotecas

In [1]:
from datetime import datetime, timedelta
import pandas as pd
import os

## Tratamento de Dados

### Dados de Lagoa Parda

Adequação de dados de produção de Lagoa Parda, criação de variável com data do dia anterior

In [4]:
df = pd.read_excel("/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/112024/RGO_LAGOA_PARDA_NOVEMBRO2024.xlsx")

In [6]:
df.head()

          Dia        LPB          LP  Estação LP
0  2024-11-01  79.729744   96.475122  176.204866
1  2024-11-02  67.474850   82.787838  150.262688
2  2024-11-03  85.569849  103.984291  189.554140
3  2024-11-04  78.739252   94.987287  173.726539
4  2024-11-05  81.738496   96.566838  178.305334

In [8]:
dias = []

for dt in df.Dia.tolist():
    dias.append(format(datetime.strptime(dt, "%Y-%m-%d"), "%d/%m/%Y"))
    
df['Dia'] = dias

In [10]:
df.dtypes

Dia            object
LPB           float64
LP            float64
Estação LP    float64
dtype: object

In [12]:
# Converter a coluna 'Data' para objetos datetime
df['Dia'] = pd.to_datetime(df['Dia'], format='%d/%m/%Y')

In [14]:
# Subtrair um dia da coluna 'Data'
df['Dia Sucessor'] = df['Dia'] + timedelta(days=1)

In [16]:
df.head()

         Dia        LPB          LP  Estação LP Dia Sucessor
0 2024-11-01  79.729744   96.475122  176.204866   2024-11-02
1 2024-11-02  67.474850   82.787838  150.262688   2024-11-03
2 2024-11-03  85.569849  103.984291  189.554140   2024-11-04
3 2024-11-04  78.739252   94.987287  173.726539   2024-11-05
4 2024-11-05  81.738496   96.566838  178.305334   2024-11-06

In [18]:
# Transformar a coluna de datas em texto (string) no formato desejado
df['Dia'] = df['Dia'].dt.strftime('%d/%m/%Y 00:00:00')
df['Dia Sucessor'] = df['Dia Sucessor'].dt.strftime('%d/%m/%Y 00:00:00')

In [20]:
df_final = df[['Dia', 'Dia Sucessor', 'LPB', 'LP', 'Estação LP']]

In [22]:
df_final['Ventilado103'] = round(df_final['Estação LP'] / 1000, 5)

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\2236413276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Ventilado103'] = round(df_final['Estação LP'] / 1000, 5)

In [24]:
df_final.head()

,Dia,Dia Sucessor,LPB,LP,Estação LP,Ventilado103
0,01/11/2024 00:00:00,02/11/2024 00:00:00,79.729744,96.475122,176.204866,0.17620
1,02/11/2024 00:00:00,03/11/2024 00:00:00,67.474850,82.787838,150.262688,0.15026
2,03/11/2024 00:00:00,04/11/2024 00:00:00,85.569849,103.984291,189.554140,0.18955
3,04/11/2024 00:00:00,05/11/2024 00:00:00,78.739252,94.987287,173.726539,0.17373
4,05/11/2024 00:00:00,06/11/2024 00:00:00,81.738496,96.566838,178.305334,0.17831

In [26]:
df_final['Ventilado103'] = df_final['Ventilado103'].astype(str)

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\1712607966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Ventilado103'] = df_final['Ventilado103'].astype(str)

In [28]:
vent = df_final['Ventilado103'].tolist()
cont = 0   
for v in vent:
    if len(v) <  7:
        aux = v
        while len(aux) < 7:
            aux = aux + '0'
        vent[cont] = aux
        aux = ''
    cont += 1

In [30]:
df_final['Ventilado103'] = vent

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\1824722831.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Ventilado103'] = vent

In [32]:
datetime.strptime(df_final.loc[0][0], '%d/%m/%Y 00:00:00').date()

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\4137866908.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  datetime.strptime(df_final.loc[0][0], '%d/%m/%Y 00:00:00').date()

datetime.date(2024, 11, 1)

In [34]:
df_final.loc[0][5]

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\635685085.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_final.loc[0][5]

'0.17620'

In [36]:
df_final.shape

(30, 6)

## Criando XML

In [39]:
def retorna_nome(data):
    a = a = '002'
    b = '34812047'#'00271847'
    c = data.strftime("%Y%m%d%I%M%S")
    d = 'xml'
    return a + '_' + b + '_' + c + '.' + d

def retorna_data_coleta(data):
    formato_dt = "%d/%m/%Y %H:%M:%S"
    minutos_add = 19
    segundos_add = 43
    
    dt = datetime.strptime(data, formato_dt) # transformando string em data
    dt_add = dt + timedelta(minutes=minutos_add, seconds=segundos_add)
    novo_dt = dt_add.strftime(formato_dt)
    return novo_dt

In [41]:
xml = "/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/mascara_002_LP.xml"

import xml.etree.ElementTree as ET
tree = ET.parse(xml)
root = tree.getroot()

In [43]:
root[0][0][0][0][0].text

'ESTIMADO'

In [45]:
i=0

In [47]:
root[0][0][0][0][1].text = df_final.loc[i][1] # DHA_COLETA

# Produção
root[0][0][4][0][0].text = df_final.loc[i][0]
root[0][0][4][0][1].text = df_final.loc[i][1]
root[0][0][4][0][2].text = '0,000'
root[0][0][4][0][3].text = '0,00'
root[0][0][4][0][4].text = '1440,0000'
root[0][0][4][0][5].text = df_final.loc[i][5]
root[0][0][4][0][6].text = df_final.loc[i][5]

cam_salvo = '/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/'
arq_salvo = cam_salvo + retorna_nome(datetime.strptime(df_final.loc[i][1], '%d/%m/%Y %H:%M:%S').date())
print(arq_salvo)
tree.write(arq_salvo)

/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241102120000.xml

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\624368555.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][0][0][1].text = df_final.loc[i][1] # DHA_COLETA
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\624368555.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][0].text = df_final.loc[i][0]
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\624368555.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][1].text = df_final.loc[i][1]
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\624368555.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][5].text = df_final.loc[i][5]
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\624368555.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][6].text = df_final.loc[i][5]
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\624368555.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arq_salvo = cam_salvo + retorna_nome(datetime.strptime(df_final.loc[i][1], '%d/%m/%Y %H:%M:%S').date())

In [49]:
root[0][0][0][0][1]

In [51]:
df_final.loc[i][5].replace(".", ",")

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\3649862986.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_final.loc[i][5].replace(".", ",")

'0,17620'

### Geração Automatizada

In [54]:
for i in range(df_final.shape[0]):
    # Configuracao CV
    root[0][0][0][0][1].text = retorna_data_coleta(df_final.loc[i][1]) # DHA_COLETA

    # Produção
    root[0][0][4][0][0].text = df_final.loc[i][0]
    root[0][0][4][0][1].text = df_final.loc[i][1]
    root[0][0][4][0][2].text = '0,000'
    root[0][0][4][0][3].text = '0,00'
    root[0][0][4][0][4].text = '1440,0000'
    root[0][0][4][0][5].text = df_final.loc[i][5].replace(".", ",")
    root[0][0][4][0][6].text = df_final.loc[i][5].replace(".", ",")

    cam_salvo = '/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/'
    arq_salvo = cam_salvo + retorna_nome(datetime.strptime(df_final.loc[i][1], '%d/%m/%Y %H:%M:%S').date())
    print(arq_salvo)
    tree.write(arq_salvo)

/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241102120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241103120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241104120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241105120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241106120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241107120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241108120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241109120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241110120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241111120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241112120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241113120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241114120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241115120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241116120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241117120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241118120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241119120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241120120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241121120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241122120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241123120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241124120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241125120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241126120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241127120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241128120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241129120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241130120000.xml
/Users/Fernando Guirra/Desktop/SCRIPTS PY/Nuevo/GERACAO/Novembro24/002_34812047_20241201120000.xml

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\4038407245.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][0][0][1].text = retorna_data_coleta(df_final.loc[i][1]) # DHA_COLETA
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\4038407245.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][0].text = df_final.loc[i][0]
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\4038407245.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][1].text = df_final.loc[i][1]
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\4038407245.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][5].text = df_final.loc[i][5].replace(".", ",")
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\4038407245.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  root[0][0][4][0][6].text = df_final.loc[i][5].replace(".", ",")
C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_13980\4038407245.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arq_salvo = cam_salvo + retorna_nome(datetime.strptime(df_final.loc[i][1], '%d/%m/%Y %H:%M:%S').date())

In [73]:
retorna_nome(datetime.strptime(df_final.loc[0][1], '%d/%m/%Y 00:00:00').date())

C:\Users\Fernando Guirra\AppData\Local\Temp\ipykernel_15840\325798354.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  retorna_nome(datetime.strptime(df_final.loc[0][1], '%d/%m/%Y 00:00:00').date())

'002_34812047_20241002120000.xml'